/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/

body{
    background:  url('/images/sliker.png') no-repeat center center fixed;
    align-content: center;
    background-attachment: fixed;
    background-size: cover;
    
    
}

html{

}


section {
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.quote {
    color: rgba(0,0,0,.3);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 100px;
    content: url('/images/headShot.png');
    background-repeat: no-repeat;
}

p{
    font-size: 25px;
    font-weight: 600;
}

